.register{
    width: 300px;
    margin: auto;
    padding: 10px;
    border: 10px solid  rgb(63, 81, 181);
    text-align: center;
    margin-top: 100px;
}
.register input{
    padding: 5px;
}

.register button{
    margin-top: 20px;
}

.welcome{
    padding: 60px;
    text-align: center;
    /* background: #a8b1af; */
    color: rgb(107, 105, 105);
    font-size: 2.4vw;
}

.error{
    font-size: 12px;
    color: rgb(216, 47, 47);
}


.loggedOut{
    text-align: center;
}

.loggedOut h1{
    font-size: 42px;
    padding: 50px;
    font-style: italic;
}

.link{
    padding-right: 20px;
    text-decoration: none;
}

.greet{
    border-left: 10px solid  rgb(63, 81, 181);

}

.greet h3{
    font-size: 30px;
}

.greet p{
    font-size: 22px;
    
}